.main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.value-input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.operation-text, .equal-sign, .result-text {
    width: 50px;
    text-align: center;
    font-size: 16px;
    margin: 0 5px;
}

.result-text {
    font-weight: bold;
    min-width: 50px;
}

.buttons-row .operation-button {
    width: 50px;
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-row .operation-button:hover {
    background-color: #0056b3;
}
